.heading {
  color:#ED6053;
  padding-top: 10px;
  background: seashell;
}

.heading_inner_section {
  font-weight: bold;
  padding: 1px;
}

.align_close_btn {
  float:right !important;
  margin-top: -11px;
}

.align_contact_us {
  padding-left: 26px;
  padding-right: 47px;
}

.align_inner_main_section {
  padding-left: 50px;
  padding-right: 50px;
}
