<div class="header">
    <h1 mat-dialog-title>Frequently Asked Questions (FAQ)</h1>
    <mat-icon (click)="faqClose()">highlight_off</mat-icon>
</div>
<div mat-dialog-content>
    <h2>How do I upload documents?</h2>
    <p>There are two ways to upload documents. One from the "Documents" options on the left
        navigation and the other from the page level quick links widget for respective modules on the right.</p>

    <h2>How do I logout from TN PERLSS?</h2>
    <p>When you hover over the person icon on the top right hand corner, you will see an option to logout.</p>

    <h2>Is there an option to change the language from English?</h2>
    <p>No, English is the only supported language.</p>

    <h2>How do I search for a member?</h2>
    <p>You can always use the global search option from the application quick links widget on the top
        right corner to search for member details.</p>
</div>