
<div class="row">
  <mat-label class="applicant-information-label">Applicant Information</mat-label>
  <br/>
  <br/>
  <div style="background-color: #E6F0F3;width:100%">
  <div class="row">
    <div class="col-lg-3">
      <mat-label class="mat-label-custom"> APPLICANT NAME: </mat-label>
    </div>
    <div class="col-lg-3">
      <mat-label class="mat-label-value-cls"> john smith </mat-label>
    </div>
    <div class="col-lg-3">
      <mat-label class="mat-label-custom"> REFERRAL ID: </mat-label>
    </div>
    <div class="col-lg-3">
      <mat-label class="mat-label-value-cls"> RF42551565</mat-label>
    </div>
  </div>
    <br/>
  <div class="row">
    <div class="col-lg-3">
      <mat-label class="mat-label-custom"> PERSON ID: </mat-label>
    </div>
    <div class="col-lg-3">
      <mat-label class="mat-label-value-cls"> 7865421903 </mat-label>
    </div>
    <div class="col-lg-3">
      <mat-label class="mat-label-custom">  PAE ID: </mat-label>
    </div>
    <div class="col-lg-3">
      <mat-label class="mat-label-value-cls"> PAE4355354</mat-label>
    </div>
  </div>
    <br/>
  <div class="row">
    <div class="col-lg-3">
      <mat-label class="mat-label-custom"> DATE OF BIRTH: </mat-label>
    </div>
      <div class="col-lg-3">
      <mat-label class="mat-label-value-cls"> 13/02/2019 </mat-label>
    </div>
    <div class="col-lg-3">
      <mat-label class="mat-label-custom"> PAE CERTIFICATION DATE: </mat-label>
    </div>
    <div class="col-lg-3">
      <mat-label class="mat-label-value-cls"> 02/01/2020 </mat-label>
    </div>
  </div>
    <br/>
  <div class="row">
    <div class="col-lg-3">
      <mat-label class="mat-label-custom">  SSN: </mat-label>
    </div>
    <div class="col-lg-3">
      <mat-label class="mat-label-value-cls"> xxx-xx-2345 </mat-label>
    </div>
    <div class="col-lg-3">
      <mat-label class="mat-label-custom"> Enrollment Status </mat-label>
    </div>
      <div class="col-lg-3">
      <mat-label class="mat-label-value-cls"> In Progress </mat-label>
    </div>
  </div>
  </div>
<br/>
  <div >
  <hr style="border-color: #0d325f; border-width: 2px;"/>
  </div>
  <div style="background-color: #E6F0F3;width:100%">
    <div class="row">
      <div class="col-lg-3">
        <mat-label class="mat-label-custom"> PROGRAM REQUESTED: </mat-label>
      </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-value-cls"> CHOICES GROUP 1 </mat-label>
      </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-custom"> GRANDFATHERED: </mat-label>
      </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-value-cls"> No </mat-label>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-3">
        <mat-label class="mat-label-custom"> PROGRAM APPROVED: </mat-label>
      </div>
        <div class="col-lg-3">
        <mat-label class="mat-label-value-cls"> CHOICES GROUP 3 </mat-label>
      </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-custom"> APPEAL FILED: </mat-label>
      </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-value-cls"> No </mat-label>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-3">
        <mat-label class="mat-label-custom"> SLOT STATUS: </mat-label>
      </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-value-cls"> Held </mat-label>
      </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-custom"> ASSIGNED MCO: </mat-label>
      </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-value-cls"> BlueCare </mat-label>
      </div>
    </div>
    <br/>
    <div class="row">
      <<div class="col-lg-3">
        <mat-label class="mat-label-custom"> ADJUDICATED ACUITY SCORE: </mat-label>
    </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-value-cls"> 18 </mat-label>
      </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-custom"> GROUP 3 INTEREST DATE :</mat-label>
      </div>
      <div class="col-lg-3">
        <mat-label class="mat-label-value-cls"> --- </mat-label>
      </div>
    </div>
  </div>
</div>

<div class="row" (click)="toggleDropDown('financialEligibilityCriteria')" >
  <mat-toolbar class= "enrollment-dropdown-heading" color="gray">
    <h1>
      Financial Eligibility
    </h1>
    <span id="financialElgbltyDropDownIcon">
        <div style="float: right;">
          <mat-icon class="large material-icons" style="font-size: 55px; color: #ED6053;" *ngIf="isFinancialEligibilityDropDownToggled" >
            Review Details
          </mat-icon>
          <mat-icon class="large material-icons" style="font-size: 55px; color: #ED6053;" *ngIf="!isFinancialEligibilityDropDownToggled">
            Review Details
          </mat-icon>
        </div>
      </span>
  </mat-toolbar>
</div>

<div style="width: 80%;" *ngIf="isFinancialEligibilityDropDownToggled" >
  <form [formGroup]="myForm" >
    <div class="enrollment-sub-desciption">Click on the button below to check for financial eligibility updates</div>

    <div class="row">
      <div class="col">
        <button type="submit" (click)="onClickCheckFinancialElgbltyBtn($event)" mat-flat-button color="primary" style="font-size: 23px;  padding: 10px 35px; margin-top: 16px;" class="financial-eligibility-button">Check Financial Eligibility</button>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col">
        <mat-label> Medicaid Eligibility </mat-label>
        <mat-form-field appearance="outline">
          <mat-select>
            <mat-option *ngFor="let row of medicaidEligibilityRt" [value]="row.code">
              {{row.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col link-class">
        <span><a [routerLink]="" (click)="onViewPatientLiabilityDetails($event)">View Patient Liability Details</a>
          </span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-label>  Patient Liability Amount</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="patientLibltyAmnt" >
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-label> Effective date Of Patient Liability </mat-label>
        <mat-form-field appearance="outline">
          <mat-label>please choose a date</mat-label>
          <input matInput [matDatepicker]="ptntLiabilityPicker">
          <mat-datepicker-toggle matSuffix [for]="ptntLiabilityPicker"></mat-datepicker-toggle>
          <mat-datepicker  #ptntLiabilityPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <mat-label>Medicaid Effective date</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>please choose a date</mat-label>
          <input matInput [matDatepicker]="effectiveDtPicker">
          <mat-datepicker-toggle matSuffix [for]="effectiveDtPicker"></mat-datepicker-toggle>
          <mat-datepicker  #effectiveDtPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-label>Medicaid Effective date</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>please choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker  #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>

</div>

<br/>

<div class="row" (click)="toggleDropDown('enrollmentDetailsDropDown')" >
  <mat-toolbar class= "enrollment-dropdown-heading" color="gray">
    <h1>
      Enrollment Details
    </h1>
    <span id="dropDownIcon">
        <div style="float: right;">
          <mat-icon class="large material-icons" style="font-size: 55px; color: #ED6053;" *ngIf="isEnrollmentDetailsDropDownToggled" >
            Review Details
          </mat-icon>
          <mat-icon class="large material-icons" style="font-size: 55px; color: #ED6053;" *ngIf="!isEnrollmentDetailsDropDownToggled">
            Review Details
          </mat-icon>
        </div>
      </span>
  </mat-toolbar>
</div>

<div style="width: 80%;" *ngIf="isEnrollmentDetailsDropDownToggled" >

  <form [formGroup]="myForm" >
    <div style="border-width: 2px;border-color:limegreen;border-style: solid;margin-top:10px;">
    <div>
      <div class="row">
        <mat-label class="summary-label">PASRR  Summary: </mat-label>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  Submitted Date: </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> 03/02/2020 </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  Level 1 Decision : </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> PASRR Decision </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  Payor Source : </mat-label>
        </div>
          <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> Medicare </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  Decision Date : </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> 20/04/2020 </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  Level 2 Decision : </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> PASRR Decision  </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  Effective Date: </mat-label>
        </div>
          <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> 04/01/2020 </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  End Date: </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> 11/09/2020 </mat-label>
        </div>
      </div>
    </div>
    <div>
    <div class="row">
      <mat-label class="summary-label">Adjudication Results: </mat-label>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <mat-label class="pasrr-label-custom">  Enrollment Group : </mat-label>
      </div>
      <div class="col-lg-5">
        <mat-label class="pasrr-label-value-cls"> ECF CHOICES GROUP 5 </mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <mat-label class="pasrr-label-custom">  Adjudication Decision : </mat-label>
      </div>
      <div class="col-lg-5">
        <mat-label class="pasrr-label-value-cls"> Approved-NF LOC </mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <mat-label class="pasrr-label-custom">  Approved ERC : </mat-label>
      </div>
      <div class="col-lg-5">
        <mat-label class="pasrr-label-value-cls"> Chronic Ventilator Service </mat-label>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  PAE Effective Date : </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> 05/03/2020 </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  PAE End Date : </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> 03/11/2021 </mat-label>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <mat-label class="summary-label"> Important Dates : </mat-label>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  MOPD : </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> 06/12/2020 </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  NF Anticipated Discharge Date : </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> 03/04/2020 </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  NF Actual Discharge Date : </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> --- </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom"> Anticipated Transition Date  : </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> 05/03/2020 </mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <mat-label class="pasrr-label-custom">  Actual Transition Date : </mat-label>
        </div>
        <div class="col-lg-5">
          <mat-label class="pasrr-label-value-cls"> --- </mat-label>
        </div>
      </div>
    </div>
    </div>
<br/><br/>
    <div>
      <div class="row">
      <div class="col-6">
        <mat-label> Authorization Status </mat-label>
        <mat-form-field appearance="outline">
          <mat-select>
            <mat-option *ngFor="let row of authorizationStatusRT" [value]="row.code">
              {{row.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
      <div class="row">
        <div class="col-6">
          <mat-label>Enrollment Start date</mat-label>
          <mat-form-field appearance="outline">
            <mat-label>please choose a date</mat-label>
            <input matInput [matDatepicker]="enrollmentStartDtPicker">
            <mat-datepicker-toggle matSuffix [for]="enrollmentStartDtPicker"></mat-datepicker-toggle>
            <mat-datepicker  #enrollmentStartDtPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-label>Enrollment End date</mat-label>
          <mat-form-field appearance="outline">
            <mat-label>please choose a date</mat-label>
            <input matInput [matDatepicker]="enrollmentEndDatePicker">
            <mat-datepicker-toggle matSuffix [for]="enrollmentEndDatePicker"></mat-datepicker-toggle>
            <mat-datepicker  #enrollmentEndDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <mat-label> Enrollment Denial Reason </mat-label>
          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option *ngFor="let row of authorizationStatusRT" [value]="row.code">
                {{row.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>comments</mat-label>
          <textarea matInput ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" mat-flat-button color="primary" style="font-size: 23px; float:right; padding: 10px 35px; margin-top: 16px;" class="perlss-click-button">Authorize Enrollment</button>
      </div>
    </div>
    </div>
  </form>

</div>

