.settings_icon {
  font-size: 200px;
  color:bisque;
}

.sub_heading {
  margin-top: 50px;
  color: black;
  font-weight: 600;
}

.customize_row {
 padding-top: 5rem;
 padding-bottom: 5rem;
 //min-height: 65vh;
}

.container {
  //min-height: 40vh;
}

.sub_continer{
  margin-top: 2rem;
}

.maintanence_logo {
  padding-left: 70px;
  padding-top: 13px;
}
