<div class="row" style="width: 100%; padding-bottom: 50px;" *ngIf="details">
  <div class="col-md-8" style="width: 100% !important;">
    <div class="applicant-sub-heading">
      Appointment Details
    </div>
  </div>
  <div class="col-md-4" style="border: solid 1px #547E1A;padding: 10px 0px 10px 10px;font-size: 12px;">
    <table>
      <tr style="padding-top: 15px;">
        <td><b>INTERVIEWER NAME : </b></td><td style="white-space: nowrap;"><a href="#">{{ details['personName'] }}</a></td>
      </tr>
      <tr>
        <td> <b>APPOINTMENT STATUS : </b></td><td>{{details['appointmentStatusCd'] }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row breadcrumb" style="font-size: 12px;background-color: #F6FAFF;" *ngIf="details">
  <table class="table table-borderless">
    <tr class="d-flex">
      <td class="col-3"><b>APPLICATION NAME:</b></td>
      <td class="col-4">{{ details['personName'] }}</td>
      <td class="col-3"><b>REFERRAL ID</b></td>
      <td class="col-2">{{ details['refId'] }}</td>
    </tr>
    <tr class="d-flex">
      <td class="col-3"><b>PERSON ID:</b></td>
      <td class="col-4">{{ details['personId'] }}</td>
      <td class="col-3"><b>REFERRAL RECEIVED DATE</b></td>
      <td class="col-2">{{ details['refReceivedDt'] }}</td>
    </tr>
    <tr class="d-flex">
      <td class="col-3"><b>DATE OF BIRTH:</b></td>
      <td class="col-4">{{ details['dobDt'] }}</td>
      <td class="col-3"><b>INTAKE DUE DATE</b></td>
      <td class="col-2">{{ details['intakeDueDt'] }}</td>
    </tr>
    <tr class="d-flex">
      <td class="col-3"><b>SSN</b></td>
      <td class="col-4">{{ details['ssn'] }}</td>
      <td class="col-3"><b>PAE ID</b></td>
      <td class="col-2">{{ details['paeId'] }}</td>
    </tr>
  </table>
</div>

<div style="width: 95%;padding-top: 60px;font-size: 14px;margin: auto;">
  <form [formGroup]="myForm" (ngSubmit)="addAppointment()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label><mat-label class="required-color">*</mat-label>Appointment Date</mat-label>
          <input matInput type="datetime-local" [min]="today" formControlName="appointmentDt">
          <!--            <mat-datepicker-toggle matSuffix [for]="appdate"></mat-datepicker-toggle>-->
          <!--            <mat-datepicker #appdate></mat-datepicker>-->
          <mat-error *ngIf="myForm.get('appointmentDt').hasError('required')">
            {{customValidation.A1}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6" *ngIf="myForm.contains('appointmentStatusCd')">
        <mat-form-field appearance="outline">
          <mat-label><mat-label class="required-color">*</mat-label>Appointment Status</mat-label>
          <mat-select formControlName="appointmentStatusCd" (selectionChange)="statusChange($event.value)">
            <mat-option value="CM">Completed</mat-option>
            <mat-option value="CA">Cancelled</mat-option>
            <mat-option value="UC">Unable to contact</mat-option>
            <mat-option value="RE">Rescheduled</mat-option>
            <mat-option value="SC">Scheduled</mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.get('appointmentStatusCd').hasError('required')">
            {{customValidation.A1}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label><mat-label class="required-color">*</mat-label>Appointment Type</mat-label>
          <mat-select formControlName="appointmentTypeCd">
            <mat-option value="IV">Intake Visit</mat-option>
            <mat-option value="EN">Enrollment Visit</mat-option>
            <mat-option value="RL">Referral Update</mat-option>
            <mat-option value="RE">Reassessment</mat-option>
            <mat-option value="AO">Annual Outreach</mat-option>
            <mat-option value="DI">Disenrollment</mat-option>
            <mat-option value="TR">Transition</mat-option>
            <mat-option value="Yes">Yes</mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.get('appointmentTypeCd').hasError('required')">
            {{customValidation.A1}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label><mat-label class="required-color">*</mat-label>Contact Method</mat-label>
          <mat-select formControlName="contactMethodCd" (selectionChange)="contactChange($event.value)">
            <mat-option value="IP">In-Person</mat-option>
            <mat-option value="TE">Telephone</mat-option>
            <mat-option value="VT">Virtual</mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.get('contactMethodCd').hasError('required')">
            {{customValidation.A1}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row" *ngIf="myForm.contains('cancelReasonCd')">
      <div class="col-md-12" >
        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label><mat-label class="required-color">*</mat-label>Reason</mat-label>
          <mat-select formControlName="cancelReasonCd" (selectionChange)="reasonChange($event.value)">
            <mat-option value="RW">Referral Withdrawn</mat-option>
            <mat-option value="AC">Applicant Cancelled</mat-option>
            <mat-option value="UC">Unable to Contact</mat-option>
            <mat-option value="Others">Others</mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.get('cancelReasonCd').hasError('required')">
            {{customValidation.A1}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="myForm.contains('notes')">
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Notes</mat-label>
          <textarea matInput maxlength="2000" rows="6" formControlName="notes" placeholder=""></textarea>
          <mat-hint align="end">{{myForm.controls.notes.value ? myForm.controls.notes.value.length : 0}} / 2000</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="myForm.contains('telephoneNumber')">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label><mat-label class="required-color">*</mat-label>Telephone Number</mat-label>
          <input matInput placeholder="Telephone Number" formControlName="telephoneNumber"
                 [ngClass]="{ 'is-invalid': f.telephoneNumber.touched && f.telephoneNumber.errors }"/>
          <mat-error *ngIf="f.telephoneNumber.errors !== null">
            <mat-error *ngIf="f.telephoneNumber.errors.required">{{customValidation.A1}}</mat-error>

            <mat-error *ngIf="f.telephoneNumber.errors?.pattern">{{customValidation.A2}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <ng-container *ngIf="showAddressSection">
    <div style="padding-bottom: 15px;" class='form-label'>Please select the Appointment location from the addresses on file mentioned below or provide a different address.</div>


        <mat-radio-group aria-label="Select an option" (change)="showAddressForm($event.value)">
          <div class="row" style="padding-bottom: 15px;font-size: 14px;">
          <ng-container *ngFor="let address of addresses;let i =index">
            <div class="col-md-4 mb-3">
            <mat-radio-button [value]="address" [checked]="address['isActive']"> {{ address['addrLine1'] }} {{ address['addrLine2'] }}, <br>
            {{ address['city'] }}, {{ address['cntyCd'] }}, {{ address['stateCd'] }},{{ address['zipCode'] }}, {{ address['zipExtn'] }}</mat-radio-button>
            </div>
          </ng-container>
            <div class="col-md-12">
              <mat-radio-button value="others">Others</mat-radio-button>
            </div>

          </div>
        </mat-radio-group>
<!--        <div class="col-md-4">-->
<!--          <mat-radio-button [checked] = true (change)="showAddressForm($event.value)" value="yes">333 Commerce Street,<br>Nashville,TN 37209 </mat-radio-button>-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <mat-radio-button value="no" (change)="showAddressForm($event.value)">1012 Washington Ave,<br> Mount Jullet, TN 37102</mat-radio-button>-->
<!--        </div>-->
<!--      <div class="row" style="padding-bottom: 15px;font-size: 14px;">-->
<!--        <div class="col-md-12">-->
<!--          <mat-radio-button value="others" (change)="showAddressForm($event.value)">Others</mat-radio-button>-->
<!--        </div>-->
<!--      </div>-->
    <div>
    <ng-container *ngIf="displayAddressForm" formGroupName="appointmentAddressVO">

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label><mat-label class="required-color">*</mat-label>Address Line 1</mat-label>
          <input matInput placeholder="" formControlName="addrLine1"
                 [ngClass]="{ 'is-invalid': childFormGroup.addrLine1.touched && childFormGroup.addrLine1.errors }"/>
          <mat-error *ngIf="childFormGroup.addrLine1.errors !== null">
            <mat-error
              *ngIf="childFormGroup.addrLine1.errors.maxLength == null && !childFormGroup.addrLine1.errors?.invalid && !childFormGroup.addrLine1.errors.required">
              Cannot exceed 100 characters</mat-error>
            <mat-error *ngIf="childFormGroup.addrLine1.errors.required">{{customValidation.A1}}
            </mat-error>
            <mat-error *ngIf="childFormGroup.addrLine1.errors?.invalid && !childFormGroup.addrLine1.errors.required">{{customValidation.A2}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label><mat-label class="required-color"></mat-label>Address Line 2</mat-label>
          <input matInput placeholder="" formControlName="addrLine2"
                 [ngClass]="{ 'is-invalid': childFormGroup.addrLine2.touched && childFormGroup.addrLine2.errors }">
          <mat-error *ngIf="childFormGroup.addrLine2.errors !== null">
            <mat-error *ngIf="childFormGroup.addrLine2.errors.maxLength == null && !childFormGroup.addrLine2.errors?.invalid ">Cannot exceed
              50 characters</mat-error>
            <mat-error *ngIf="childFormGroup.addrLine2.errors?.invalid">{{customValidation.A2}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label><mat-label class="required-color">*</mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city"
                 [ngClass]="{ 'is-invalid': childFormGroup.city.touched && childFormGroup.city.errors }"/>
          <mat-error *ngIf="childFormGroup.city.errors !== null">
            <mat-error *ngIf="childFormGroup.city.errors.maxLength == null && !childFormGroup.city.errors?.invalid && !childFormGroup.city.errors.required">
              Cannot exceed 25 characters</mat-error>
            <mat-error *ngIf="childFormGroup.city.errors.required">{{customValidation.A1}}</mat-error>
            <mat-error *ngIf="childFormGroup.city.errors?.invalid && !childFormGroup.city.errors.required">{{customValidation.A2}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label><mat-label class="required-color">*</mat-label>State</mat-label>
          <mat-select formControlName="stateCd">
            <mat-option value="AL">AL</mat-option>
            <mat-option value="NJ">NJ</mat-option>
            <mat-option value="CA">CA</mat-option>
            <mat-option value="VA">VA</mat-option>
          </mat-select>
          <mat-error *ngIf="addValidator('stateCd').hasError('required')">
            {{customValidation.A1}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label><mat-label class="required-color">*</mat-label>Zip code</mat-label>
          <input matInput placeholder="zip code" formControlName="zip"
                 [ngClass]="{ 'is-invalid': childFormGroup.zip.touched && childFormGroup.zip.errors }"/>
                           <mat-error *ngIf="childFormGroup.zip.errors !== null">
            <mat-error *ngIf="childFormGroup.zip.errors.maxLength == null && !childFormGroup.zip.errors?.invalid && !childFormGroup.zip.errors.required">
              Cannot exceed 5 characters</mat-error>
            <mat-error *ngIf="childFormGroup.zip.errors.required">{{customValidation.A1}}</mat-error>
            <mat-error *ngIf="childFormGroup.zip.errors?.invalid && !childFormGroup.zip.errors.required">{{customValidation.A2}}</mat-error>
            <mat-error *ngIf="childFormGroup.zip.errors?.pattern">{{customValidation.A7}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label>Ext</mat-label>
          <input matInput placeholder="Ext"/>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width:100% !important">
          <mat-label><mat-label class="required-color">*</mat-label>County</mat-label>
          <mat-select formControlName="cntyCd">
            <mat-option value="WL">Williamson</mat-option>
            <mat-option value="WT">White</mat-option>
            <mat-option value="VA">VA</mat-option>
          </mat-select>
          <mat-error *ngIf="addValidator('cntyCd').hasError('required')">
            {{customValidation.A1}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    </ng-container>
    </div>
    </ng-container>
      <div class="row">
      <div class="col">
        <button type="submit" mat-flat-button color="primary" style="font-size: 16px;  padding: 3px 25px; margin-top: 16px;" class="perlss-click-button" *ngIf="details">{{ details?.appointmentStatusCd == "SC" || details['appointmentStatusCd'] == "RE" ? 'UPDATE APPOINTMENT' : 'SCHEDULE APPOINTMENT' }}</button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col" style="padding-top: 55px; margin-top: 16px;text-align:center;display:block;color:#3f51b5;">
    <a routerLink = "/dashboard/appointments/search">GO BACK TO APPOINTMENT SEARCH</a><br>
  </div>
</div>
