
.sub-heading {
    font-family: 'Permian Slab';
    letter-spacing: 50;
    font-weight: bold;
    font-size: 26px;
    color: #174A7C;
  }
  .red-icon {
    color:red;
    transform: scale(0.8);
  }
  .required {
    display: inline-block;
    color: #ED6053;
    font-family: "Open Sans";
    font-size: 14px;
    margin-top: 20px;
  }
  .required-color {
    color:  #ED6053;
  }
  .footermainText{
    font-weight: bold;
    font-family: Open Sans;
    color: #1B365D;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
  }

  .footerText{
    font-family: Open Sans;
    color: #1B365D;
    font-size: 10px;
    text-align: center;
  }

  