<div class='headerText'>Employment and Community First CHOICES Referral Form</div>
<mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom" [selectedIndex]="currentForm" style="margin: 20px 100px 50px 100px;">
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step label="Start Referral"><app-extref-start (completedStart)="selectedIndex($event)"></app-extref-start></mat-step>
    <mat-step label="Applicant Information"><app-extref-applicant-information (completedApplicant)="selectedIndex($event)" ></app-extref-applicant-information></mat-step>
    <mat-step label="Contact Information"><app-extref-contact-information (completedContact)="selectedIndex($event)"></app-extref-contact-information></mat-step>
    <mat-step label="School and Work"><app-extref-school-work (completedSchoolWork)="selectedIndex($event)"></app-extref-school-work></mat-step>
    <mat-step label="Care and Support"><app-extref-care-support (completedCareAndSupport)="selectedIndex($event)"></app-extref-care-support></mat-step>
    <mat-step label="Submit Referral"><app-extref-submit (completedSubmit)="selectedIndex($event)"></app-extref-submit></mat-step>
  </mat-horizontal-stepper>
