.required {
  color: #EE3524;
  margin-top: 0px;
  text-align: right !important;
  margin-right:28px;
  font-size: 10px;
}

.required-color {
  color: #f44336;
}

.back-button-content {
  color:#174A7C;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-right: 32px;
  font-weight: 550;
}

.field-content {
  margin-left: 45px;
}

.primary-field-content {
  margin-left: 45px;
  font-size: 75%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h3 {
  font-family: 'Permian Slab';
  letter-spacing: 50;
  font-weight: normal;
  font-size: 1.5rem;
  color: #174A7C;
}

hr {
  margin-top: 2px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon {
  transform: scale(1.0);
  cursor: pointer;
  color: #8b99ac;
}
.row-header {
  display: flex;
  flex-wrap: wrap;
  margin: 17px 0 0 0;
}

.button-content {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 32px;
  margin-bottom: 10px;
}

.text-area-hint {
  text-align: right;
  margin-right: 32px;
  font-size: 75%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-content{
  padding: 0 1em;
  color: #f44336;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  font-size: 75%;
  margin-top: -1.333333em;
  opacity: 1;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-container mat-dialog-container {
  padding: 0px !important;
  overflow:hidden !important;
}