<div id="footer">
  <hr class=perlss-horizontal-divider>
  <div id="footer-top">
    <div class="row">
      <div class="col">
      </div>
      <div class="col text-right">
      </div>
    </div>
    <a>
      <img class="perlss-footer-starball" alt="starball" src="../../../assets/images/footer-starball.png">
    </a>
  </div>
  <div id="footer-bot">
    <div class="row">
      <div class="col">
        <a href="https://www.tn.gov/state-services.html" target="_blank" rel="noopener noreferrer">TN.gov Services</a>

        <a href="https://www.tn.gov/directory.html" target="_blank" rel="noopener noreferrer">TN.gov Directory</a>

        <a href="https://www.tn.gov/transparenttn.html" target="_blank" rel="noopener noreferrer">Transparent TN</a>

        <a href="https://www.tn.gov/web-policies/privacy-statement.html" target="_blank" rel="noopener noreferrer">Web
          Policies</a>

      </div>
      <div class="col text-right">
        <a href="https://www.tn.gov/about-tn/state-symbols.html" target="_blank"
          rel="noopener noreferrer">About&nbsp;Tennessee</a>


        <a href="https://www.tn.gov/humanrights/file-a-discrimination-complaint/title-vi1/title-vi-disclaimer.html"
          target="_blank" rel="noopener noreferrer">Title VI</a>


        <a href="https://www.tn.gov/web-policies/accessibility.html" target="_blank"
          rel="noopener noreferrer">Accessibility</a>

        <a href="https://www.tn.gov/help.html" target="_blank" rel="noopener noreferrer">Help &amp; Contact</a>

        <a href="https://www.tn.gov/survey.html" target="_blank" rel="noopener noreferrer">Survey</a>
      </div>
    </div>
  </div>
</div>
