<div>
  <mat-label class="sub-heading">School and Work</mat-label>
  <div class="required">*Required</div>
  <mat-divider></mat-divider>
  <div class="body-font-style">
    <mat-card>
      <div><b>Note:</b> "You" in the application is the person who wants services.</div>
      <div style="margin-left:32px;">
        <mat-icon class="red-icon">info</mat-icon> This is a tool tip icon used across the application for short
        descriptions.
      </div>
    </mat-card>
    <br><br>

    <div class="row">
      <div class="page-sub-heading">
        School Information
      </div>
    </div>
    <br><br>
    <form [formGroup]="schAndWorkForm" (click)="next()">
      <div class="row">
        <div class="col">
          <div class="row" style="margin-left: 5px;">
            <label id="example-radio-group-label"><b><label class="required-color">*</label>Are you in school right
                now?</b></label>
          </div>
          <div class="row">
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="curSchoolSw"
              (change)="onCurSchool($event)">
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="Y">Yes</mat-radio-button>
              </div>
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="N">No</mat-radio-button>
              </div>
              <div *ngIf="getFormData().curSchoolSw.hasError('required') && (getFormData().curSchoolSw.touched || submitted)">
                <mat-error>{{customValidation.A1}}</mat-error>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <div *ngIf=inSchool>

        <div class="row">
          <div class="col">
            <div class="row" style="margin-left: 5px;">
              <label id="example-radio-group-label"><b><label class="required-color">*</label>Will you be leaving high
                  school or finishing a post-secondary education or training program soon? (like college or vo-tech
                  school)</b></label>
            </div>
            <div class="row">
              <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="leaveHsPsSw">
                <div class="row" style="margin-left: 15px;">
                  <mat-radio-button value="Y">Yes</mat-radio-button>
                </div>
                <div class="row" style="margin-left: 15px;">
                  <mat-radio-button value="N">No</mat-radio-button>
                </div>
                <div *ngIf="getFormData().leaveHsPsSw.hasError('required') && (getFormData().leaveHsPsSw.touched || submitted)">
                  <mat-error>{{customValidation.A1}}</mat-error>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="row" style="margin-left: 5px;">
              <label id="example-radio-group-label"><b><label class="required-color">*</label>Are you working with your
                  school or with Vocational Rehabilitation to plan for employment?</b></label>
            </div>
            <div class="row">
              <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="vocRehabSw">
                <div class="row" style="margin-left: 15px;">
                  <mat-radio-button value="Y">Yes</mat-radio-button>
                </div>
                <div class="row" style="margin-left: 15px;">
                  <mat-radio-button value="N">No</mat-radio-button>
                </div>
                <div *ngIf="getFormData().vocRehabSw.hasError('required') && (getFormData().vocRehabSw.touched || submitted)">
                  <mat-error>{{customValidation.A1}}</mat-error>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <div class="row" style="margin-left: 5px;">
              <label id="example-radio-group-label"><b><label class="required-color">*</label>Do you need services to
                  help you get a job or get ready for a job that you can’t get from your school or from Vocational
                  Rehabilitation?</b></label>
            </div>
            <div class="row">
              <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="jobVocRehabSw">
                <div class="row" style="margin-left: 15px;">
                  <mat-radio-button value="Y">Yes</mat-radio-button>
                </div>
                <div class="row" style="margin-left: 15px;">
                  <mat-radio-button value="N">No</mat-radio-button>
                </div>
                <div *ngIf="getFormData().jobVocRehabSw.hasError('required') && (getFormData().jobVocRehabSw.touched || submitted)">
                  <mat-error>{{customValidation.A1}}</mat-error>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>

      <br>
      <mat-divider></mat-divider>
      <br>
      <div class="row">
        <div class="page-sub-heading">
          Work Information
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col">
          <div class="row" style="margin-left: 5px;">
            <label id="example-radio-group-label"><b><label class="required-color">*</label>Please select one of the
                options below to explain your job situation:</b></label>
          </div>
          <div class="row">
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="jobSW"
              (change)="onJobOptSelection($event)">
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="jobNow">I Have a job right now</mat-radio-button>
              </div>
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="jobOfferSW">I have a job offer. I can only get the job if I have someone to
                  help me while I am working</mat-radio-button>
              </div>
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="lostJobSW">I lost my job not long ago and need help to get or keep a new job
                </mat-radio-button>
              </div>
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="needJobHelp"> I do not have a job but I know I want to work and need help to
                  get or keep a job</mat-radio-button>
              </div>
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="noJobExplore">I do not have a job and I am not sure about work but I am
                  willing
                  to explore the possibility of working</mat-radio-button>
              </div>
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="notIntrestedInWork">I am not interested in working</mat-radio-button>
              </div>
              <div *ngIf="getFormData().jobSW.hasError('required') && (getFormData().jobSW.touched || submitted)">
                <mat-error>{{customValidation.A1}}</mat-error>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="jobNowSw=='Y' || jobOfferSw=='Y' || lostJobSw=='Y'">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width:100% !important">
            <mat-label> <mat-label class="required-color">*</mat-label>Employer Name </mat-label>
            <input matInput formControlName="empName" placeholder="Employer Name*"
              [ngClass]="{ 'is-invalid': getFormData().empName.touched && getFormData().empName.errors }">
            <mat-error *ngIf="getFormData().empName.errors !== null">
              <mat-error
                *ngIf="getFormData().empName.errors.maxLength == null && !getFormData().empName.errors.pattern && !getFormData().empName.errors.required">
                Cannot exceed 100 characters</mat-error>
              <mat-error *ngIf="getFormData().empName.touched && getFormData().empName.errors.pattern">{{customValidation.A2}}</mat-error>
              <mat-error *ngIf="getFormData().empName.errors.required && (getFormData().empName.touched || submitted)">{{customValidation.A1}}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="lostJobSw=='Y'">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100 px">
            <mat-label> <mat-label class="required-color"><mat-label class="required-color">*</mat-label></mat-label>Job End Month and Year </mat-label>
            <input matInput formControlName="jobEndDt" placeholder="mm/yyyy"
              [ngClass]="{ 'is-invalid': getFormData().jobEndDt.touched && getFormData().jobEndDt.errors }">
            <mat-error *ngIf="getFormData().jobEndDt.errors !== null">
              <mat-error *ngIf="getFormData().jobEndDt.touched && getFormData().jobEndDt.errors.pattern">{{customValidation.A6}}</mat-error>
              <mat-error *ngIf="getFormData().jobEndDt.errors.required && (getFormData().jobEndDt.touched || submitted)">{{customValidation.A1}}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label> <mat-label class="required-color">*</mat-label>Why did the job end ? </mat-label>
            <select matNativeControl formControlName="jobEndReasonCd" aria-placeholder="Select an option">
              <option value="LEF">I chose to leave</option>
              <option value="FIR">I was asked to leave</option>
            </select>
            <mat-error *ngIf="getFormData().jobEndReasonCd.errors !== null">
              <mat-error *ngIf="getFormData().jobEndReasonCd.errors.required && (getFormData().jobEndReasonCd.touched || submitted)">{{customValidation.A1}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="jobNowSw=='Y'">
        <div class="col">
          <div class="row" style="margin-left: 5px;">
            <label id="example-radio-group-label"><b><label class="required-color">*</label>Do you need services to
                keep
                the job?</b></label>
          </div>
          <div class="row">
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="needSrvcsForJobSw">
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="Y">Yes</mat-radio-button>
              </div>
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="N">No</mat-radio-button>
              </div>
              <div *ngIf="getFormData().needSrvcsForJobSw.hasError('required') && (getFormData().needSrvcsForJobSw.touched || submitted)">
                <mat-error>{{customValidation.A1}}</mat-error>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="noJobExplWorkSw=='Y'">
        <div class="col">
          <div class="row" style="margin-left: 5px;">
            <label id="example-radio-group-label"><b><label class="required-color">*</label>Are you willing to try out a
                service called exploration? </b></label>
          </div>
          <div class="row">
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="srvcCallExplreSw">
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="Y">Yes</mat-radio-button>
              </div>
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="N">No</mat-radio-button>
              </div>
              <div *ngIf="getFormData().srvcCallExplreSw.hasError('required') && (getFormData().srvcCallExplreSw.touched || submitted)">
                <mat-error>{{customValidation.A1}}</mat-error>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="age>21">
        <div class="col">
          <div class="row" style="margin-left: 5px;">
            <label id="example-radio-group-label"><b><label class="required-color">*</label>Do you have health problems
                or disabilities that make it hard to work and you need help to live in and be part of the
                community? </b></label>
          </div>
          <div class="row">
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="hlthDisbltySw"
              (change)="onHeathDisablity($event)">
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="Y">Yes</mat-radio-button>
              </div>
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="N">No</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="age>62 && hlthDisSw">
        <div class="col">
          <div class="row" style="margin-left: 5px;">
            <label id="example-radio-group-label"><b><label class="required-color">*</label>Do you need help to live
                and
                do things in the community?</b></label>
          </div>
          <div class="row">
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="needhelpSW">
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="Y">Yes</mat-radio-button>
              </div>
              <div class="row" style="margin-left: 15px;">
                <mat-radio-button value="N">No</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row" style="margin-left: 2px; padding-top: 50px;">
        <div class="col" style="text-align: left;">
          <button mat-flat-button color="primary" style="font-size: 24px; padding: 15px 35px;" (click)="back()"
            class="perlss-click-button-white">BACK</button>
        </div>
        <div class="col" style="text-align: left;">
          <button mat-flat-button color="primary" style="font-size: 24px; padding: 15px 35px;" (click)="saveAndExit()"
            class="perlss-click-button-white-noborder">SAVE AND EXIT</button>
        </div>
        <div class="col" style="text-align: right;">
          <button mat-flat-button color="primary" style="font-size: 24px;  padding: 15px 35px;" (click)="next()"
            class="perlss-click-button">NEXT</button>
        </div>
      </div>

    </form>
  </div>
</div>
