
.sub-heading {
  font-family: 'Permian Slab';
  letter-spacing: 50;
  font-weight: bold;
  font-size: 32px;
  color: #174A7C;
}
.red-icon {
  color:red;
  transform: scale(0.8);
}
.required {
  display: inline-block;
  float: right;
  color: #ED6053;
  font-family: "Open Sans";
  font-size: 14px;
  margin-top: 20px;
}
.required-color {
  color:  #ED6053;
}
