<div class="row">
  <div class="col-md-6">
    <button mat-flat-button color="primary"(click)="multipleComplexFormEfill()">Multiple Complex Form E-Fill</button>
  </div>
  <div class="col-md-6">
    <button mat-flat-button color="primary"(click)="sustainCurrentFamLivArrangements()">Sustain Current Family Living Arrangements</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <button mat-flat-button color="primary"(click)="emergentCircumstancesReviewForm()">Emergent Circumstances Review Form</button>
  </div>
  <br/>
  <div class="col-md-6">
    <button mat-flat-button color="primary"(click)="committeeReviewForm()">Committee Review Form</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <button mat-flat-button color="primary"(click)="transitionPopup()">Transition Popup</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  	<button mat-flat-button color="primary"(click)="lsaFormEfill()">LSA</button>
  </div>
</div>
