<div  class="body-font-style">
	<br> <br>
	<div class="col" style="text-align: left;">
		<div class="sub-heading">Confirmation</div>
	</div>
	<mat-divider class="perlss-section-divider"></mat-divider>
  <br>
  <div style="margin-left: 20px;">
	<div  >
		Congratulations! You have successfully submitted an Employment
			and Community First CHOICES referral. Please write down the Referral
			ID below for your reference.
    </div>
  </div>
    <br>
    <br>
    <div style="text-align: center;">
    <div  style="font-size: 29px;">
		<b>{{refId}}</b>
    </div>
    <br>
    <br>
    <div >
		You can also print a copy of your referral by clicking on the button below.
    </div>
    <br>
    <br>
    <div>
        <button mat-raised-button color="warn">PRINT REFERRAL <mat-icon>search</mat-icon></button>
    </div>
  </div>
    <br>
    <br>
    <div style="margin-left: 20px;">
    <div  >
		<b>Note:</b> We will take a look at this information and send you a letter. If you don’t receive a letter in the next two weeks, you can call us at 877-224-0219.

    </div>
    <br>
    <div >
		 We will also send someone out to see you. They will gather facts to make sure you have an intellectual or developmental disability. If you do, but we can’t enroll you in the program now, we’ll put you on the referral list. We’ll also put you on the list if you have an intellectual or developmental disability but don’t want services until later.

    </div>
    <br>
    <div  >
        If you’re on the referral list, we’ll contact you at least once a year to see if anything has changed or if we can help you find other services."
   </div>
   

</div>
<br>
<br>
<div  style="text-align: right;">
    <button mat-flat-button color="primary"
        style="font-size: 20px; padding: 15px 35px;"
        class="perlss-click-button">NEXT</button>
      </div>
    </div>