<div class="popup-header-container">
    <div class="row">
      <div class="col-md-8">
        <h4> LSA Form </h4>
      </div>
      <div class="col-md-4">
        <div style="text-align: right;">
          <mat-icon class="popup-close-icon" (click)="closePopup()">highlight_off</mat-icon>
          <div class="required-class">
            *Required
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider class="perlss-horizontal-divider"></mat-divider>
  <div class="note-container">
    <div class="row">
      <div class="col-md-10">
        <mat-label><strong>"Intellectual disability (ID) - two (2) or more of
          substantial functional limitations and before eighteen (18) years of age. </strong></mat-label>
          <br>
          <br>
          <mat-label><strong>Developmental disability (DD) - three(3) or more of substantial
           functional limitations over 5 and before twenty-two (22) years of age. " </strong></mat-label>
      </div>
      <div class="col-md-2">
        <div class = "center">
          <mat-icon class="yes-icon">check_circle_outline</mat-icon>
          <span style="padding-left: 1vw;">
            <strong> Yes </strong>
          </span>
        </div>
        <div class = "center">
          <mat-icon class="no-icon">highlight_off</mat-icon>
          <span style="padding-left: 1vw;">
            <strong> No </strong>
          </span>
        </div>
        <div class = "center">
          <mat-icon class="no-conclusion-icon">remove_circle</mat-icon>
          <span style="padding-left: 1vw;">
            <strong> No Conclusion </strong>
          </span>
        </div>
      </div>
    </div>
  </div>
