.applicant-sub-heading {
  font-weight: bold;
  color: #547E1A;
  font-size: 22px;
}

.radio-option-container {
  padding-top: 10px;
  padding-bottom: 40px;
}
.question-container{
  padding-top: 25px;
}

#applicantName {
  border: 2px solid;
  border-color: #4D7E20;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
::ng-deep .mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #F6FAFF;
  border-radius: 5px;
  border-color: #CED4DA;
}

.checkbox-element {
    position: relative;
    top: 20%;
    transform: translateY(-20%);
}

.required-color {
  color: #EE3524;
}
