<div class="container-fullwidth">
  <img class="center-fit" src="../../../assets/images/header.png">
</div>
<div class="container-fullwidth">
  <div class="sub-nav-bar">
      <div class="row">
        <div class="col" id="perlss-welcome-text">
          Welcome!
        </div>
        <div class="col text-right">
          <button (click)="showError()">Show Error Page</button>
         <!--  <mat-icon class="perlss-icon">assignment_ind</mat-icon> -->
          <mat-icon class="perlss-icon">assignment_ind</mat-icon>
          <mat-icon class="perlss-icon" (mouseover)="openDialog()">apps</mat-icon>
          <mat-icon class="perlss-icon">local_printshop</mat-icon>
        </div>
      </div>
    </div>
  </div>
<hr class="perlss-horizontal-divider">
