<form [formGroup]="myForm" class="responsive" (ngSubmit)="next()">

  <div class="applicantName">Jessica Jones</div>

  <div class="page">

    <h3>Transfers</h3>
    <mat-radio-group formControlName="transfers" (change)="onTransferChange()">
      <mat-label _ngcontent-yfr-c231="" class="req">
        Can the applicant self-transfer to and from bed or chair without physical help from others?
      </mat-label>
      <mat-error *ngIf="submitted && f.transfers.errors && f.transfers.errors?.required">{{customValidation.A1}}
      </mat-error>
      <mat-radio-button value="selfTransfer">Capable of self-transfer.</mat-radio-button>
      <mat-radio-button value="selfTransferOccasionally">Usually capable of self-transfer but occasionally may
        require assistance from others or standby assistance.</mat-radio-button>
      <mat-radio-button value="selfTransferInCapable">Incapable of self-transfer.</mat-radio-button>
    </mat-radio-group>

    <h3>Mobility by Ambulation or Wheelchair</h3>
    <mat-radio-group formControlName="mobility" (change)="onMobilityChange()">
      <mat-label _ngcontent-yfr-c231="" class="req">
        Can applicant walk without physical help from others?
      </mat-label>
      <mat-error *ngIf="submitted && f.mobility.errors && f.mobility.errors?.required">{{customValidation.A1}}
      </mat-error>
      <mat-radio-button value="mobilityWheelChair">Capable of mobility by ambulation or wheelchair without
        assistance.</mat-radio-button>
      <mat-radio-button value="mobilityWheelChairMechincal">Capable of mobility by ambulation or wheelchair but
        may require either mechanical assistance (walker, crutch, cane, or other mobility aid), standby
        assistance, or occasional physical assistance provided by others.</mat-radio-button>
      <mat-radio-button value="mobilityWheelChairWalking">Usually or always incapable of mobility by walking and
        by use of a wheelchair unless physical assistance is provided by others.</mat-radio-button>
    </mat-radio-group>

    <h3>Eating / Feeding</h3>
    <mat-radio-group formControlName="eating" (change)="onEatingChange()">
      <mat-label _ngcontent-yfr-c231="" class="req">
        Can the applicant eat prepared meals without physical help from others?</mat-label>
      <mat-error *ngIf="submitted && f.eating.errors && f.eating.errors?.required">{{customValidation.A1}}
      </mat-error>
      <mat-radio-button value="selfSpoon">Feeds self with a spoon or with a fork without assistance.
      </mat-radio-button>
      <mat-radio-button value="selfFleeding">Capable of self-feeding with a spoon or with a fork but requires
        some assistance(e.g., settings up for the food tray, cutting up meat, or simple encouragement to eat or
        to eat less rapidly).</mat-radio-button>
      <mat-radio-button value="incapableSelfFeeding">Incapable of self-feeding without continual supervision and
        assistance with multiple eating problems (excluding supervision of obesity or weight reduction).
      </mat-radio-button>
      <mat-radio-button value="nasogasticFeeding">Requires feeding by nasogastic or gastrostomy tube.
      </mat-radio-button>
    </mat-radio-group>

    <h3>Toileting and Toileting Hygiene</h3>
    <mat-radio-group formControlName="toileting" (change)="onToiletingChange()">
      <mat-label _ngcontent-yfr-c231="" class="req">
        Can applicant toilet without physical help from others?
        <br>(This does not include transferring)</mat-label>
      <mat-error *ngIf="submitted && f.toileting.errors && f.toileting.errors?.required">{{customValidation.A1}}
      </mat-error>
      <mat-radio-button value="toiletingHygiene">Can use a toilet and care for toileting hygiene without
        assistance.</mat-radio-button>
      <mat-radio-button value="toiletingHygieneSuperVisit">Can use a toilet and usually can care for
        toileting
        hygiene; requires supervision and minor assistance (e.g., adjustment of clothing, cueing).
      </mat-radio-button>
      <mat-radio-button value="toiletingHygieneAbsence">Incapable of self-execution of toileting or
        toileting
        hygiene in the absence of continual supervision and physical assistance (e.g., scheduled toileting).
      </mat-radio-button>
      <mat-radio-button value="gastrostomyTube">Requires feeding by nasogastic or gastrostomy tube.
      </mat-radio-button>
    </mat-radio-group>

    <h3>Bathing</h3>

    <mat-radio-group formControlName="bathing" (change)="onBathingChange()">
      <mat-label _ngcontent-yfr-c231="" class="req">
        Can applicant bathe without physical help from others?</mat-label>
      <mat-error *ngIf="submitted && f.bathing.errors && f.bathing.errors?.required">{{customValidation.A1}}
      </mat-error>
      <mat-radio-button value="bathingWithoutAssistance">Capable of bathing without assistance.
      </mat-radio-button>
      <mat-radio-button value="bathingRequiresAssistance">Capable of bathing but requires some assistance
        (e.g.
        sitting up in the bath, adjusting the water temperatures, assistance into the bath, encouragement to
        bathe, or assistance with clothing).</mat-radio-button>
      <mat-radio-button value="bathingContinualSperVision">Incapable of bathing without continual
        supervision
        and assistance and requires assistance with multiple bathing fuctions in order to complete the
        bathing
        process.</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="bottomBar">
    <button mat-flat-button color="primary" class="perlss-click-button-white">BACK</button>
    <button mat-flat-button color="primary" class="perlss-click-button-white-noborder">SAVE AND EXIT</button>
    <button type="submit" mat-flat-button color="primary" class="perlss-click-button">NEXT</button>
  </div>
</form>