.popup-header-container{
  padding: 20px;
  margin-left: 10px;
}
.mat-dialog-container {
  padding: 0px;
  border-top-left-radius: .4vw;
  border-bottom-left-radius: .4vw;
  border-top-right-radius: .4vw;
  border-bottom-right-radius: .4vw;
  border-radius: .4vw;
  border: 2px solid #225282;
}

.popup-close-icon{
  transform: scale(1.5);
  cursor: pointer;
  color: #8b99ac;
}

.popup-container{
  padding: 20px;
  margin-left: 15px;
  font-weight: 500;
}
strong{
  font-weight: 900;
}

.popup-click-button{
  background-color: #174A7C !important;
  color: white;
}

.popup-click-button-white{
  background-color: white !important;
  color: #174A7C !important;
  border: 1px solid #1B365D !important;
}
