<div class="cus-cont">
  <form [formGroup]="paeFormGroup">
     <div class="row">
        <div class="col-md-8">
           <h4 class="hd">Appointment Details</h4>
        </div>
        <div class="col-md-4">
           <div class="applicant-name">
              APPLICANT NAME : Jessica Jones
           </div>
        </div>
     </div>
     <label id="example-radio-group-label"><span class="req">*</span> Have you had contact with the person?</label>
     <mat-error>
        <p *ngIf="hadContactWithPerson.errors?.required && (hadContactWithPerson.touched || hadContactWithPerson.dirty)">
           {{customValidation.A1}}
        </p>
     </mat-error>
     <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="hadContactWithPerson">
        <mat-radio-button class="example-radio-button" [value]="true">
           Yes
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" [value]="false">
           No
        </mat-radio-button>
     </mat-radio-group>
     <div class="form-box-outline" *ngIf="hadContactWithPerson.value !== null">
        <div class="row">
           <div class="col-md-6 ">
              <mat-form-field appearance="outline" class="wid-100">
                 <mat-label> <span class="req">*</span> Appointment Date</mat-label>
                 <input matInput [matDatepicker]="picker" formControlName="appointmentDate">
                 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                 <mat-datepicker #picker></mat-datepicker>
                 <mat-error>
                    <p *ngIf="paeFormGroup.get('appointmentDate').errors?.datePriorToInitialDate">
                       The date is entered cannot be prior to 01/01/1901.
                    </p>
                    <p *ngIf="paeFormGroup.get('appointmentDate').errors?.required && (paeFormGroup.get('appointmentDate').touched || paeFormGroup.get('appointmentDate').dirty)">
                       {{customValidation.A1}}
                    </p>
                    <p *ngIf="paeFormGroup.get('appointmentDate').errors?.dateInPast">
                       The date cannot be in the past.
                    </p>
                 </mat-error>
              </mat-form-field>
           </div>
           <div class="col-md-6 " >
              <mat-form-field appearance="outline" class="wid-100">
                 <mat-label><span class="req">*</span> Contact Method</mat-label>
                 <mat-select placeholder="Contact" formControlName="contactMethod">
                    <mat-option value="1">In-Person</mat-option>
                    <mat-option value="1">In-Person 01</mat-option>
                    <mat-option value="1">In-Person 02</mat-option>
                 </mat-select>
                 <mat-error>
                    <p *ngIf="paeFormGroup.get('contactMethod').errors?.required && (paeFormGroup.get('contactMethod').touched || paeFormGroup.get('contactMethod').dirty)">
                       {{customValidation.A1}}
                    </p>
                 </mat-error>
              </mat-form-field>
           </div>
        </div>
        <p class="address-label">Please select the appointment location from addresses on file mentioned below or provide a different address. </p>
        <mat-radio-group aria-label="Select an option" formControlName="addressAvailable" class="line-ht">
           <div class="row">
              <div class="col-md-6">
                 <mat-radio-button value="addressOne">
                    <span class="wid-radio">333 Commerce Street. Nashville. TN 37209</span>
                 </mat-radio-button>
              </div>
              <div class="col-md-6">
                 <mat-radio-button value="addressTwo">
                    <span class="wid-radio">1012 Washington Ave Mount Juliet, TN 37122</span>
                 </mat-radio-button>
              </div>
              <div class="col-md-6" >
                 <mat-radio-button value="addressNew">
                    <span class="wid-radio">Other Address</span>
                 </mat-radio-button>
              </div>
           </div>
           <mat-error>
              <p *ngIf="paeFormGroup.get('addressAvailable').errors?.required && (paeFormGroup.get('addressAvailable').touched || paeFormGroup.get('addressAvailable').dirty)">
                 {{customValidation.A1}}
              </p>
           </mat-error>
        </mat-radio-group>
        <div class="row" *ngIf="paeFormGroup.get('addressAvailable').value == 'addressNew'">
           <div class="col-md-6 ">
              <mat-form-field appearance="outline" class="wid-100" >
                 <mat-label><span class="req">*</span> Address Line 1</mat-label>
                 <input matInput spellcheck="false" [maxlength]="100" formControlName="addressLineOne">
                 <mat-error>
                    <p *ngIf="paeFormGroup.get('addressLineOne').errors?.required && (paeFormGroup.get('addressLineOne').touched || paeFormGroup.get('addressLineOne').dirty)">
                       {{customValidation.A1}}
                    </p>
                    <p *ngIf="paeFormGroup.get('addressLineOne').errors?.specialCharacterValidator">
                       {{customValidation.A2}}
                    </p>
                    <p *ngIf="paeFormGroup.get('addressLineOne').errors?.maxLength">
                       Max 100 charecters allowed
                    </p>
                 </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="wid-100">
                 <mat-label><span class="req">*</span> City</mat-label>
                 <input matInput spellcheck="false" [maxlength]="25" formControlName="cityName">
                 <mat-error>
                    <p *ngIf="paeFormGroup.get('cityName').errors?.required && (paeFormGroup.get('cityName').touched || paeFormGroup.get('cityName').dirty)">
                       {{customValidation.A1}}
                    </p>
                    <p *ngIf="paeFormGroup.get('cityName').errors?.specialCharacterValidator">
                       {{customValidation.A2}}
                    </p>
                 </mat-error>
              </mat-form-field>
              <div class="row">
                 <div class="col-md-6 ">
                    <mat-form-field appearance="outline" class="wid-100">
                       <mat-label><span class="req">*</span> Zip Code</mat-label>
                       <input matInput spellcheck="false" formControlName="zipCode">
                       <mat-error>
                          <p *ngIf="paeFormGroup.get('zipCode').errors?.required && (paeFormGroup.get('zipCode').touched || paeFormGroup.get('zipCode').dirty)">
                             {{customValidation.A1}}
                          </p>
                          <p *ngIf="paeFormGroup.get('zipCode').errors?.postalCodeValidator">
                             {{customValidation.A7}}
                          </p>
                       </mat-error>
                    </mat-form-field>
                 </div>
                 <div class="col-md-2 flex-center">
                    -
                 </div>
                 <div class="col-md-4 ">
                    <mat-form-field appearance="outline" class="wid-100">
                       <mat-label>Ext</mat-label>
                       <input matInput type="number" spellcheck="false" formControlName="ext">
                       <mat-error>
                          <p *ngIf="paeFormGroup.get('ext').errors?.specialCharacterValidator">
                             {{customValidation.A2}}
                          </p>
                       </mat-error>
                    </mat-form-field>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <mat-form-field appearance="outline" class="wid-100">
                 <mat-label>Address Line 2</mat-label>
                 <input matInput [maxlength]="50" spellcheck="false"  formControlName="addressLineTwo">
                 <mat-error>
                    <p *ngIf="paeFormGroup.get('addressLineTwo').errors?.specialCharacterValidator">
                       {{customValidation.A2}}
                    </p>
                 </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="wid-100">
                 <mat-label><span class="req">*</span> State</mat-label>
                 <mat-select placeholder="State" formControlName="stateName">
                    <mat-option value="TNSS">Tennesse</mat-option>
                 </mat-select>
                 <mat-error>
                    <p *ngIf="paeFormGroup.get('stateName').errors?.required && (paeFormGroup.get('stateName').touched || paeFormGroup.get('stateName').dirty)">
                       {{customValidation.A1}}
                    </p>
                 </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="wid-100">
                 <mat-label><span class="req">*</span> County</mat-label>
                 <mat-select placeholder="County" formControlName="countryName">
                    <mat-option value="DVSN">Davidson</mat-option>
                 </mat-select>
                 <mat-error>
                    <p *ngIf="paeFormGroup.get('countryName').errors?.required && (paeFormGroup.get('countryName').touched || paeFormGroup.get('countryName').dirty)">
                       {{customValidation.A1}}
                    </p>
                 </mat-error>
              </mat-form-field>
           </div>
        </div>
        <div class="row">
           <div class="col-md-5 ">
              <button mat-raised-button color="primary" class="wid-100 button-apply" *ngIf="hadContactWithPerson.value; else buttonContact">CREATE CONTACT RECORD</button>
              <ng-template #buttonContact>
                 <button mat-raised-button color="primary" class="wid-100 button-apply">SCHEDULED APPOINTMENT</button>
              </ng-template>
           </div>
        </div>
     </div>
  </form>
</div>
<hr class="divider-section"/>
<div class="note-box row" *ngIf="hadContactWithPerson.value; else notContacted">
  <div class="col-2 max-note">
     <h5 class="note-head">
        <mat-icon>stars</mat-icon>
        NOTE:
     </h5>
  </div>
  <div class="col-10">
     <p class="note-desc">
        The applicant appears to have the following pending AIs for financial eligibility. Please make sure to submit those documents as soon as possible. This will help us make an eligibility determination faster for the Katie Brekket program. <br><br>
        - Proof of income <br>
        - Proof of citizenship 
     </p>
  </div>
</div>
<ng-template class="container scheduled-box row" #notContacted>
  <div class="grid-border">
     <table mat-table
        [dataSource]="dataSource" multiTemplateDataRows>
     <ng-container matColumnDef="{{column}}" *ngFor="let column of paeAppointmentSearchRes">
        <th mat-header-cell *matHeaderCellDef class="grid-head"> {{columnHeaderName[column]  | titlecase}} </th>
        <td mat-cell *matCellDef="let element">  {{element[column]}} </td>
     </ng-container>
     <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
     <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="paeAppointmentSearchRes.length">
        <div class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <table>
           <tr>
              <td>
                 <div class="example-element-description">
                    <mat-label style="font-weight: bold;"> Location/Number  </mat-label>
                    <br>
                    {{element.locOrNumber}}
                 </div>
              </td>
               <td>
                 <div class="example-element-description">
                    <mat-label style="font-weight: bold;"> Reason For Cancellation  </mat-label>
                    <br>
                    
                 </div>
              </td>
           </tr>
        </table>
       </div>
  </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="paeAppointmentSearchRes"></tr>
<tr mat-row *matRowDef="let element; columns: paeAppointmentSearchRes;"
     class="example-element-row"
     [class.example-expanded-row]="expandedElement === element"
     (click)="expandedElement = expandedElement === element ? null : element">
 </tr>
 <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
   <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
   </mat-paginator>

 </div>

  
 <br><br>
 <div class="row">
   <div class="col-6">
     <button mat-flat-button color="primary" (click)="back()"
       class="perlss-click-button-white">BACK</button>
       <button mat-flat-button color="primary" (click)="back()"
       class="perlss-click-button-white-noborder">Save and Exit</button>
   </div>
   <div class="col-6 text-right">
     <button mat-flat-button color="primary"
       (click)="savePae();" class="perlss-click-button">NEXT</button>
   </div>
 </div>
</ng-template>