<div class="row" style="width: 100%; padding-bottom: 50px;">
  <div class="col-md-8" style="width:100% !important;">
    <div class="applicant-sub-heading">
      Interventions
    </div>
  </div>
  <div class="col-md-4">
    <table id="applicantName">
      <tr>
        <th> <b>APPLICANT NAME : </b> Jessica Jones</th>
      </tr>
    </table>
  </div>
</div>

<div style="width: 95%;">

<form [formGroup]="paeIntensiveInterventionsForm">

  <div class="row" style="margin-left: 2px;">
    <mat-label class="required-color">*</mat-label> Has the applicant required any of the interventions mentioned below? (Select &nbsp;<b>ALL</b> &nbsp; that apply)
  </div>


  <mat-selection-list role="list" *ngFor="let benefits of benefitsList | keyvalue">
    <span *ngFor="let benefits2 of benefits.value | keyvalue"><mat-list-item role="listitem" *ngIf="benefits2.key ===  'name'"><mat-checkbox class="example-margin" (change)="changeEvent($event, benefits2.value)">{{interventionsMap.get(benefits2.value)}}</mat-checkbox></mat-list-item></span>
  </mat-selection-list>


  <div class="row" style="margin-left: 2px; padding-top: 50px;">
    <div class="col-md-2" style="text-align: left;">
      <button mat-flat-button color="primary" style="font-size: 24px; padding: 15px 35px;" class="perlss-click-button-white" (click)="back()">BACK</button>
    </div>
    <div class="col-md-4" style="text-align: left;">
      <button mat-flat-button color="primary" style="font-size: 24px; padding: 15px 35px;" class="perlss-click-button-white-noborder" (click)="saveAndExit()">SAVE AND EXIT</button>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <button mat-flat-button color="primary" style="font-size: 24px;  padding: 15px 35px;" class="perlss-click-button">NEXT</button>
    </div>
  </div>


</form>
</div>
