<div>
    <div class="body-font-style">
      <mat-label class="sub-heading">Applicant Information</mat-label>
      <div class="required" style="float: right;">*Required</div>
      <mat-divider></mat-divider>
      <mat-card style="background-color: #F6FAFF;">
        <div>Note: "You" in the application is the person who wants services.</div>
        <div style="padding-left: 32px;">
          <mat-icon class="red-icon">info_outline</mat-icon> This is a tool tip icon used across the application for short
          descriptions.
        </div>
      </mat-card>
      <br><br>
      <form [formGroup]="refApplicantForm" (ngSubmit)="searchForPerson()">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label> <mat-label class="required-color">*</mat-label>First Name </mat-label>
              <input matInput formControlName="firstName" placeholder="First Name"
                [ngClass]="{ 'is-invalid': getFormData().firstName.touched && getFormData().firstName.errors }">
              <mat-error *ngIf="getFormData().firstName.errors !== null">
                <mat-error
                  *ngIf="getFormData().firstName.errors.maxLength == null && !getFormData().firstName.errors?.invalidName && !getFormData().firstName.errors.required">
                  Cannot exceed 45 characters</mat-error>
                <mat-error *ngIf="getFormData().firstName.touched && getFormData().firstName.errors.required">{{customValidation.A1}}</mat-error>
                <mat-error *ngIf="getFormData().firstName.errors?.invalidName && !getFormData().firstName.errors.required">{{customValidation.A2}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label> MI </mat-label>
              <input matInput formControlName="midInitial" placeholder="MI"
                [ngClass]="{ 'is-invalid': getFormData().midInitial.touched && getFormData().midInitial.errors }">
              <mat-error *ngIf="getFormData().midInitial.errors !== null">
                <mat-error *ngIf="getFormData().midInitial.errors.maxLength == null && !getFormData().midInitial.errors.pattern">Cannot exceed 1 character
                </mat-error>
                <mat-error *ngIf="getFormData().midInitial.errors.pattern">{{customValidation.A2}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label> <mat-label class="required-color">*</mat-label>Last Name </mat-label>
              <input matInput formControlName="lastName" placeholder="Last Name"
                [ngClass]="{ 'is-invalid': getFormData().lastName.touched && getFormData().lastName.errors }">
              <mat-error *ngIf="getFormData().lastName.errors !== null">
                <mat-error
                  *ngIf="getFormData().lastName.errors.maxLength == null && !getFormData().lastName.errors?.invalidName && !getFormData().lastName.errors.required">
                  Cannot exceed 45 characters</mat-error>
                <mat-error *ngIf="getFormData().lastName.touched && getFormData().lastName.errors.required">{{customValidation.A1}}</mat-error>
                <mat-error *ngIf="getFormData().lastName.errors?.invalidName && !getFormData().lastName.errors.required">{{customValidation.A2}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label> Suffix </mat-label>
              <select matNativeControl formControlName="suffix" aria-placeholder="Select an option">
                <option value="mr">Mr.</option>
                <option value="mrs">Mrs.</option>
              </select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label><mat-label class="required-color">*</mat-label>Date Of Birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dobDt" [min]="minDate" [max]="maxDate" (dateChange)="calculateAge($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="getFormData().dobDt.errors != null">
                <mat-error *ngIf="refApplicantForm.get('dobDt').hasError('required')">
                  {{customValidation.A1}}
                </mat-error>
                <mat-error *ngIf="getFormData().dobDt.errors.matDatepickerMax">{{customValidation.A5}}</mat-error>
                <mat-error *ngIf="getFormData().dobDt.errors.matDatepickerMin">{{customValidation.A6}}</mat-error>
              </mat-error>
            </mat-form-field>
            <div>
              <mat-label>Age: <label *ngIf="age!=null">{{age}} years</label></mat-label>
            </div>
          </div>
          <br>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label><mat-label class="required-color">*</mat-label>Gender</mat-label>
              <select matNativeControl formControlName="genderCd">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <div class="row">
              <mat-form-field appearance="outline" style="width:100% !important">
                <mat-label> <mat-label class="required-color">*</mat-label>Social Security Number </mat-label>
                <input matInput formControlName="ssn" placeholder="xxx-xx-xxxx"
                  [ngClass]="{ 'is-invalid': getFormData().ssn.touched && getFormData().ssn.errors }">
                  <mat-error *ngIf="getFormData().ssn.errors !== null">
                    <mat-error *ngIf="getFormData().ssn.errors?.invalid">{{customValidation.A4}}</mat-error>
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-checkbox formControlName="ssnAvailableSw">
                Select if SSN is not available
              </mat-checkbox>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
  
            <div class="row" style="margin-left: 5px;">
              <label id="example-radio-group-label"><b><mat-label class="required-color">*</mat-label>Do you go by another name?</b></label>
            </div>
            <br>
            <div class="row">
              <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="altNameSw"
                (change)="onAlternateNameChange($event)">
  
                <div class="row" style="margin-left: 15px;">
                  <mat-radio-button value="Y">Yes</mat-radio-button>
                </div>
  
                <div class="row" style="margin-left: 15px;">
                  <mat-radio-button value="N">No</mat-radio-button>
                </div>
                <div *ngIf="getFormData().altNameSw.hasError('required') && (getFormData().altNameSw.touched || submitted)">
                  <mat-error>{{customValidation.A1}}</mat-error>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>
  
        <div *ngIf=alternateNameSW>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" style="width:100% !important">
                <mat-label> Alias First Name </mat-label>
                <input matInput formControlName="aliasFirstName" placeholder="Alias First Name"
                  [ngClass]="{ 'is-invalid': getFormData().aliasFirstName.touched && getFormData().aliasFirstName.errors }">
                <mat-error *ngIf="getFormData().aliasFirstName.errors !== null">
                  <mat-error
                    *ngIf="getFormData().aliasFirstName.errors.maxLength == null && !getFormData().aliasFirstName.errors?.invalidName && !getFormData().aliasFirstName.errors.required">
                    Cannot exceed 45 characters</mat-error>
                  <mat-error *ngIf="getFormData().aliasFirstName.touched && getFormData().aliasFirstName.errors.required">{{customValidation.A1}}
                  </mat-error>
                  <mat-error *ngIf="getFormData().aliasFirstName.errors?.invalidName && !getFormData().aliasFirstName.errors.required">
                    {{customValidation.A2}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" style="width:100% !important">
                <mat-label> MI </mat-label>
                <input matInput formControlName="aliasMidInitial" placeholder="MI"
                  [ngClass]="{ 'is-invalid': getFormData().aliasMidInitial.touched && getFormData().aliasMidInitial.errors }">
                <mat-error *ngIf="getFormData().aliasMidInitial.errors !== null">
                  <mat-error *ngIf="getFormData().aliasMidInitial.errors.maxLength == null && !getFormData().aliasMidInitial.errors.pattern">Cannot exceed 1
                    character</mat-error>
                  <mat-error *ngIf="getFormData().aliasMidInitial.errors.pattern">{{customValidation.A2}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" style="width:100% !important">
                <mat-label> Alias Last Name </mat-label>
                <input matInput formControlName="aliasLastName" placeholder="Alias Last Name"
                  [ngClass]="{ 'is-invalid': getFormData().aliasLastName.touched && getFormData().aliasLastName.errors }">
                <mat-error *ngIf="getFormData().aliasLastName.errors !== null">
                  <mat-error
                    *ngIf="getFormData().aliasLastName.errors.maxLength == null && !getFormData().aliasLastName.errors?.invalidName && !getFormData().aliasLastName.errors.required">
                    Cannot exceed 45 characters</mat-error>
                  <mat-error *ngIf="getFormData().aliasLastName.touched && getFormData().aliasLastName.errors.required">{{customValidation.A1}}
                  </mat-error>
                  <mat-error *ngIf="getFormData().aliasLastName.errors?.invalidName && !getFormData().aliasLastName.errors.required">
                    {{customValidation.A2}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" style="width:100% !important">
                <mat-label> Suffix </mat-label>
                <select matNativeControl formControlName="aliasSuffix" aria-placeholder="Select an option">
                  <option value="mr">Mr.</option>
                  <option value="mrs">Mrs.</option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <mat-divider class="perlss-section-divider"></mat-divider>
  
        <div class="row" style="padding-bottom: 25px; margin-left: 5px;">
          <div class="col">
  
            <div class="row">
              <div class="page-sub-heading">
                Physical Address
              </div>
            </div>
  
            <div class="row">
              <div class="applicant-sub-heading-description">
                Tell us the address where the you live.
              </div>
            </div>
  
          </div>
        </div>
  
        <div classs="row" style="margin-left: 2px;">
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label> <mat-label class="required-color">*</mat-label>Address Format </mat-label>
              <select matNativeControl formControlName="addressFormatCd" (change)="onAddressFormat($event)">
                <option value="USAD">US Address</option>
                <option value="MLTY">Military Address</option>
              </select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row" style="margin-left: 2px;">
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label> <mat-label class="required-color">*</mat-label>Address Line 1 </mat-label>
              <input matInput formControlName="addressLine1" placeholder="Address Line 1"
                [ngClass]="{ 'is-invalid': getFormData().addressLine1.touched && getFormData().addressLine1.errors }">
              <mat-error *ngIf="getFormData().addressLine1.errors !== null">
                <mat-error
                  *ngIf="getFormData().addressLine1.errors.maxLength == null && !getFormData().addressLine1.errors?.invalid && !getFormData().addressLine1.errors.required">
                  Cannot exceed 100 characters</mat-error>
                <mat-error *ngIf="getFormData().addressLine1.touched && getFormData().addressLine1.errors.required">{{customValidation.A1}}
                </mat-error>
                <mat-error *ngIf="getFormData().addressLine1.errors?.invalid && !getFormData().addressLine1.errors.required">{{customValidation.A2}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label> Address Line 2 </mat-label>
              <input matInput formControlName="addressLine2" placeholder="Address Line 2"
                [ngClass]="{ 'is-invalid': getFormData().addressLine2.touched && getFormData().addressLine2.errors }">
              <mat-error *ngIf="getFormData().addressLine2.errors !== null">
                <mat-error *ngIf="getFormData().addressLine2.errors.maxLength == null && !getFormData().addressLine2.errors?.invalid ">Cannot exceed
                  50 characters</mat-error>
                <mat-error *ngIf="getFormData().addressLine2.errors?.invalid">{{customValidation.A2}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row" style="margin-left: 2px;">
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label> <mat-label class="required-color">*</mat-label>City </mat-label>
              <input matInput formControlName="city" placeholder="City"
                [ngClass]="{ 'is-invalid': getFormData().city.touched && getFormData().city.errors }">
              <mat-error *ngIf="getFormData().city.errors !== null">
                <mat-error *ngIf="getFormData().city.errors.maxLength == null && !getFormData().city.errors?.invalid && !getFormData().city.errors.required">
                  Cannot exceed 25 characters</mat-error>
                <mat-error *ngIf="getFormData().city.touched && getFormData().city.errors.required">{{customValidation.A1}}</mat-error>
                <mat-error *ngIf="getFormData().city.errors?.invalid && !getFormData().city.errors.required">{{customValidation.A2}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label> <mat-label class="required-color">*</mat-label>State </mat-label>
              <select matNativeControl formControlName="stateCd">
                <option value="TNSS">Tennesse</option>
              </select>
              <mat-error *ngIf="getFormData().stateCd.errors !== null">
                <mat-error *ngIf="getFormData().stateCd.touched && getFormData().stateCd.errors.required">{{customValidation.A1}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row" style="margin-left: 2px;">
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width:100% !important ">
              <mat-label> <mat-label class="required-color">*</mat-label>Zip Code </mat-label>
              <input matInput formControlName="zipcode" placeholder="Zip Code"
                [ngClass]="{ 'is-invalid': getFormData().zipcode.touched && getFormData().zipcode.errors }">
              <mat-error *ngIf="getFormData().zipcode.errors !== null">
                <mat-error *ngIf="getFormData().zipcode.touched && getFormData().zipcode.errors.required">{{customValidation.A1}}</mat-error>
                <mat-error *ngIf="getFormData().zipcode.errors.pattern">{{customValidation.A7}}
                </mat-error>
                <!-- <mat-error *ngIf="getFormData().zipcode.errors?.invalid">{{customValidation.A2}}</mat-error> -->
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label> Ext </mat-label>
              <input matInput formControlName="zipExt" placeholder="Ext"
                [ngClass]="{ 'is-invalid': getFormData().zipcode.touched && getFormData().zipcode.errors }">
              <mat-error *ngIf="getFormData().zipExt.errors !== null">
                <mat-error *ngIf="getFormData().zipExt.errors.pattern || getFormData().zipExt.errors?.invalid">{{customValidation.A2}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label> <mat-label class="required-color">*</mat-label>County </mat-label>
              <select matNativeControl formControlName="countyCd">
                <option value="DVSN">Davidson</option>
              </select>
              <mat-error *ngIf="getFormData().countyCd.errors !== null">
                <mat-error *ngIf="getFormData().countyCd.touched && getFormData().countyCd.errors.required">{{customValidation.A1}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row" style="margin-left: 2px;" *ngIf=addrFormatSW>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label><mat-label class="required-color">*</mat-label>APO / FPO</mat-label>
              <select matNativeControl formControlName="genderCd">
                <option value="APO">APO - Air / Army Post Office</option>
                <option value="FPO">FPO- Fleet Post Office</option>
              </select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row" style="margin-left: 2px;" *ngIf=addrFormatSW>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width:100% !important">
              <mat-label><mat-label class="required-color">*</mat-label>AA / AE /AP</mat-label>
              <select matNativeControl formControlName="genderCd">
                <option value="AA">AA - Armed Forces America</option>
                <option value="AE">FPO- Armed Forces Africa</option>
                <option value="AP">FPO- Armed Forces Pacific</option>
              </select>
            </mat-form-field>
          </div>
        </div>
  
  
        <div class="row" style="margin-left: 2px; padding-top: 25px; padding-bottom: 25px;">
          <div class="col-md-6">
            <button mat-flat-button color="primary" class="perlss-click-button">VALIDATE ADDRESS</button>
          </div>
        </div>
  
        <mat-divider class="perlss-section-divider"></mat-divider>
  
        <div class="row" style="padding-bottom: 25px; margin-left: 5px;">
          <div class="col">
  
            <div class="row">
              <div class="page-sub-heading">
                Mailing Address
              </div>
            </div>
            <br>
            <div class="row" style="margin-left: 5px;">
              <div class="applicant-sub-heading-description">
                <b><mat-label class="required-color">*</mat-label>Is applicant's mailing address the same as the physical address?</b>
              </div>
            </div>
            <br>
            <div class="row">
              <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="areBothAddrSame" (change)="onMailAddrChange($event)">
  
                <div class="row" style="margin-left: 15px;">
                  <mat-radio-button value="Y">Yes</mat-radio-button>
                </div>
  
                <div class="row" style="margin-left: 15px;">
                  <mat-radio-button value="N">No</mat-radio-button>
                </div>
  
                <div *ngIf="getFormData().areBothAddrSame.hasError('required') && getFormData().areBothAddrSame.touched">
                  <mat-error>{{customValidation.A1}}</mat-error>
                </div>
  
              </mat-radio-group>
            </div>
            <div *ngIf=!mailAddrSW>
              <div classs="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label> <mat-label class="required-color">*</mat-label>Address Format </mat-label>
                    <select matNativeControl formControlName="mailAddressFormatCd" (change)="onMailAddressFormat($event)">
                      <option value="USAD">US Address</option>
                      <option value="MLTY">Military Address</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
  
              <div class="row" style="margin-left: 2px;">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label> <mat-label class="required-color">*</mat-label>Address Line 1 </mat-label>
                    <input matInput formControlName="mailAddrLine1" placeholder="Address Line 1">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label> Address Line 2 </mat-label>
                    <input matInput formControlName="mailAddrLine2" placeholder="Address Line 2">
                  </mat-form-field>
                </div>
              </div>
  
              <div class="row" style="margin-left: 2px;">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label> <mat-label class="required-color">*</mat-label>City </mat-label>
                    <input matInput formControlName="mailCity" placeholder="City">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label> <mat-label class="required-color">*</mat-label>State </mat-label>
                    <select matNativeControl formControlName="mailState">
                      <option value="TNSS">Tennesse</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
  
              <div class="row" style="margin-left: 2px;">
                <div class="col-md-3">
                  <mat-form-field appearance="outline" style="width:100% !important">
                    <mat-label> <mat-label class="required-color">*</mat-label>Zip Code </mat-label>
                    <input matInput formControlName="mailZip" placeholder="Zip Code">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field appearance="outline" style="width:100% !important">
                    <mat-label> Ext </mat-label>
                    <input matInput formControlName="mailZipExtn" placeholder="Ext">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label> <mat-label class="required-color">*</mat-label>County </mat-label>
                    <select matNativeControl formControlName="mailCounty">
                      <option value="DVSN">Davidson</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
            </div>
  
            <div *ngIf=mailAddrFormatSW>
              <div class="row" style="margin-left: 2px;">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width:100% !important">
                    <mat-label><mat-label class="required-color">*</mat-label>APO / FPO</mat-label>
                    <select matNativeControl formControlName="genderCd">
                      <option value="APO">APO - Air / Army Post Office</option>
                      <option value="FPO">FPO- Fleet Post Office</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
  
              <div class="row" style="margin-left: 2px;">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width:100% !important">
                    <mat-label><mat-label class="required-color">*</mat-label>AA / AE /AP</mat-label>
                    <select matNativeControl formControlName="genderCd">
                      <option value="AA">AA - Armed Forces America</option>
                      <option value="AE">FPO- Armed Forces Africa</option>
                      <option value="AP">FPO- Armed Forces Pacific</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div *ngIf=!mailAddrSW class="row" style="margin-left: 2px; padding-bottom: 25px;">
              <div class="col-md-6">
                <button mat-flat-button color="primary" class="perlss-click-button">VALIDATE ADDRESS</button>
              </div>
            </div>
           <!--  
            <div class="row" style="padding-top: 25px; padding-bottom: 25px;">
              <button mat-flat-button color="primary" style="width: 100%; font-size: 24px; padding: 15px;"
                class="perlss-click-button" (click)=searchForPerson()>SEARCH FOR THE PERSON</button>
            </div>-->
          </div>
        </div>
      </form>

      <div class="row" style="margin-left: 2px; padding-top:10px;margin-bottom: 50px;">
        <div class="col-6" style="text-align: left;">
          <button mat-flat-button color="primary" style="font-size: 20px; padding: 5px 30px;" matStepperPrevious
            class="perlss-click-button-white">BACK
          </button>
        </div>
        <div class="col-6" style="text-align: right;">
          <button mat-flat-button color="primary" style="font-size: 20px;padding: 5px 30px;"
            (click)="saveRefandApplicant();" class="perlss-click-button">NEXT
          </button>
        </div>
      </div>
    </div>
  </div>
  