<div class="row">
  <div class="col">
    <mat-icon class="popup-icon">help</mat-icon>
    <div class="heading_text_faqs">Help</div>
  </div>
  <div class="divider"></div>
  <div class="col">
    <mat-icon class="popup-icon">library_books</mat-icon>
    <div class="heading_text_faqs">Forms</div>
  </div>
  <div class="divider"></div>
  <div class="col">
    <mat-icon class="popup-icon"  (click)="openContact()">call</mat-icon>
    <div class="heading_text_faqs">Contact Us</div>
  </div>
  <div class="divider"></div>
  <div class="col">
    <mat-icon class="popup-icon">wrap_text</mat-icon>
    <div class="heading_text_faqs">Workflow Analytics</div>
  </div>
  <div class="divider"></div>
  <div class="col" (click)="openFaq()">
    <mat-icon class="popup-icon">announcement</mat-icon>
    <div class="heading_text_faqs">FAQs</div>
  </div>
</div>
