.divider {
  border-right: 1px solid rgba(0, 0, 0, 0.2);;
}
.heading_text_faqs {
  padding-left: 20px;
}
.mat-dialog-container {
    border: 2px solid #174A7C !important;
    border-radius: 15px !important;
    padding: .2vw;
    overflow: hidden;
 
}
.popup-icon{
    transform: scale(3);
    cursor: pointer;
    color: #EA5E52;
    margin: 25px;
}
.col{
  padding: 10px;
}
